// borders for all scss files


.border-img{
    border: $border-img;
}

.border-bottom-aside {
    border-bottom: $border-bottom-aside;
}


@media only screen and (max-width: 767px){
    .border-mov, .border-aside {
        border: $border-article-xs;
      }
}

@media only screen and (min-width: 768px){
    .border-mov, .border-aside {
        border: $border-article;
      }
}