//styles for all scss files

.img-header {
  @include img-size();
}

.header-width{
  max-width: 100%;
}

header a {
  text-decoration: none;
  @include padding-nav-header();
}

ul {
  width: 100%;

  li {
    list-style-type: none;
  }
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 95%;
  height: auto;
}

ul {
  width: 100%;

  li {
    list-style-type: none;
  }
}

.font-size-navbar-header {
  font-size: 1.5em;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 95%;
  height: auto;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  .euroscoop-genk {
    font-weight: 100;
  }
}

h2{
  font-size: 1.2em;
}

aside {
  text-align: center;
}



.border-bottom-aside {
  h5 {
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
  }
}

footer li,
a {
  text-decoration: none;
  @include padding-nav-footer();
}

