//styles for all scss files

.img-header {
  @include img-size();
}

header a {
  text-decoration: none;
  @include padding-nav-header();
}

ul {
  width: 100%;

  li {
    list-style-type: none;
  }
}

.font-size-navbar-header {
  font-size: 1.5em;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 95%;
  height: auto;
}

ul {
  width: 100%;

  li {
    list-style-type: none;
  }
}

.font-size-navbar-header {
  font-size: 1.5em;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 95%;
  height: auto;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  .euroscoop-genk {
    font-weight: 100;
  }
}

.offset-article {
  margin-left: 24%;
  margin-top: $margin-article-aside;
}

.col-md-5-custom {
  max-width: 47%;
}

aside {
  text-align: center;
}

.col-md-custom {
  width: 17.4%;
}

.offset-md-custom {
  margin-left: 11.6%;
  margin-top: 0;
}

.border-img {
  max-width: 80%;
}

.border-bottom-aside {
  h5 {
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
  }
}

.offset-footer-custom {
  margin-left: 21.5%;
}

footer li,
a {
  text-decoration: none;
  @include padding-nav-footer();
}
