// variables for all te scss files

$header-footer-bgc: #082d4d;
$body-bgc: #000;
$movie-bgc: #fff;
$aside-bgc: #0f152a;

$text-color: #849094;
$hover-color: #fff;
$hover-color-btn: #4caf50;
$article-color: #ab9142;
$article-color2: #b49b87;
$aside-h5-color: #748595;


$border-article-md: 3px solid #ab9142;
$border-article-xs: 1px solid #ab9142;
$border-img: 1px solid #dcdcdc;
$border-bottom-aside: 1px solid #222d43;

$margin-article-aside: 15.6%;

